@use 'sass:math';
@use '@topdesk/components-vue/utilities.scss' as ds;

@mixin layout-gap {
	--_td-layout-gap: #{ds.$spacer-4x};

	gap: var(--_td-layout-gap);

	@include ds.media-laptop {
		--_td-layout-gap: #{ds.$spacer-6x};
	}
}

@mixin layout-grid {
	@include layout-gap;
	display: grid;
	grid-template-columns: 1fr;
}

@mixin layout-flex {
	@include layout-gap;
	display: flex;
	flex-direction: column;
}

@mixin layout-main-grid {
	@include layout-grid;

	--_td-layout-columns: 4;
	grid-template-columns: repeat(var(--_td-layout-columns), 1fr);

	--_td-layout-padding: #{ds.$spacer-4x};
	padding: var(--_td-layout-padding);

	& > * {
		grid-column: span var(--_td-layout-columns);
	}

	@include ds.media-tablet {
		--_td-layout-columns: 8;
	}

	@include ds.media-laptop {
		--_td-layout-columns: 12;
		--_td-layout-padding: #{ds.$spacer-6x};
	}
}

@mixin layout-column-span($small: 4, $medium: 2 * $small, $large: math.floor(1.5 * $medium)) {
	--_td-layout-column-span: #{$small};
	grid-column: span var(--_td-layout-column-span);

	@include ds.media-tablet {
		--_td-layout-column-span: #{$medium};
	}

	@include ds.media-laptop {
		--_td-layout-column-span: #{$large};
	}
}
